{% extends 'base.html' %}
{% block title %}Live Blogs{% endblock %}
{% block extra_head %}
    <style type='text/css'>
    </style>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <h1>Live Blogs</h1>

        <table id="blog-table" class="table table-striped table-bordered table-hover table-condensed">
        <tr class="info">
        	<td><strong>Link</strong></td>
            <td><strong>Name</strong></td>
            <td><strong>Description</strong></td>
            <td><strong>Updates count</strong></td>
            <td><strong>Active</strong></td>
            <td><strong>Save</strong></td>
            <td><strong>Delete</strong></td>
        </tr>
        {% for blog in blogs %}
        <tr>
        	<td><a class='btn btn-mini btn-primary' href="/live-blog/{{ blog.id.__str__() }}/">Updates</a></td>
        	<td><input type="text" value="{{ blog.name }}"></td>
        	<td><textarea>{{ blog.description }}</textarea></td>
        	<td>{{ blog.updates_count }}</td>
        	<td><input type="checkbox"{{ blog.active_label }}></td>
        	<td><button class="btn btn-success btn-mini save-button" data-id="{{ blog.id.__str__() }}">Save</button></td>
        	<td><button class="btn btn-danger btn-mini delete-button" data-id="{{ blog.id.__str__() }}">Delete</button></td>
        </tr>
        {% endfor %}
    </table>

    <h1>Create a live blog</h1>
    <label>Name</label>
    <input type="text" id="create-name">
    
    <label>Description</label>
    <textarea id="create-description"></textarea>
    
    <label class="checkbox">
    	<input type="checkbox" id="create-active">
    	Active?
    </label>

    <button class="btn-large btn btn-success" id="create-button">Create</button>
</div>
{% endblock %}

{% block extra_foot %}
    <script type="text/javascript">

    	var CREATE_BUTTON = $('#create-button');
    	var CREATE_NAME = $('#create-name');
    	var CREATE_DESCRIPTION = $('#create-description');
    	var CREATE_ACTIVE = $('#create-active');

    	var BLOG_TABLE = $('#blog-table');

    	$('.delete-button').on('click', function(){
    		console.log($(this).attr('data-id'));
    	});

        CREATE_BUTTON.on('click', function(){
	    	var blog_name = CREATE_NAME.attr('value');
	    	var blog_description = CREATE_DESCRIPTION.attr('value');
	    	var blog_active = false;
	    	if (CREATE_ACTIVE.attr('checked') === 'checked') { blog_active = true; }

            // POST!
            buttonPOST({
                post_data: {
                    name: blog_name,
                    description: blog_description,
                    active: blog_active
                },
            });
        });

        // A sort of generic function to read options and handle changing button state and POSTing to an URL.
        function buttonPOST(options){

            // POST some data.
            $.post('.', options.post_data, function(e){
            	var table_row = "<tr><td><a class='btn btn-mini btn-primary' href='/live-blog/" + e + "/'>Updates</a><td>" + options.post_data.name + "</td><td>" + options.post_data.description + "</td><td>0</td><td>" + options.post_data.active.toString() + "</td><td><button class='btn btn-mini btn-danger save-button' data-id='" + e + "'>Save</button></td></tr><td><button class='btn btn-mini btn-danger delete-button' data-id='" + e + "'>Delete</button></td></tr>";
            	CREATE_NAME.attr('value', "");
            	CREATE_DESCRIPTION.attr('value', "");
            	CREATE_ACTIVE.attr('checked', null);
            	BLOG_TABLE.append(table_row);
            });
        }
    </script>
{% endblock %}